/* --------------------------------------------------------------------------
 * File        : mediaquery.css
 * Version     : 1.0
 * Author      : Indonez Team
 * Author URI  : http://indonez.com
 *
 * Indonez Copyright 2015 All Rights Reserved.
 * -------------------------------------------------------------------------- */


/* ------------------------------------------------------------------
   
   [Table of contents]
   1. tablet landscape
   2. tablet portrait
   3. mobile landscape
   4. mobile portrait

------------------------------------------------------------------ */


/* [ 1. tablet landscape ] */

@media only screen and (max-width:1024px) {
    #get-started-wrap a {
        margin-left: 23px!important
    }
    #get-started-wrap a i {
        margin-left: 8px!important
    }
    #domain-search input {
        width: 55%!important
    }
    #domain-search2 input {
        width: 62%!important
    }
    #domain-search4 input {
        width: 80%!important
    }
    .pricing-grid.three-up > li {
        width: 30.45%!important;
        margin: 15px 12px!important
    }
    .pricing-grid.four-up > li {
        width: 22.5%!important;
        margin: 15px 12px!important
    }
    .pricing-column .pricing-title i {
        height: auto!important;
        padding-top: 44px;
        padding-bottom: 41px;
        line-height: 0!important
    }
    .pricing-column .pricing-button {
        padding: 25px 35px 37px!important
    }
    .pricing-column .pricing-button h3 {
        padding-right: 19px!important
    }
    .pricing-button a.price-btn {
        margin-left: 21px!important
    }
    .pricing-button a i {
        margin-left: 8px!important
    }
    .notebook-align {
        top: 68px!important;
        right: -28px!important
    }
    .feature-wrap {
        max-width: 440px!important;
        margin-left: 18px!important
    }
    .feature-wrap.tablet-condition {
        max-width: 95%!important;
        margin-top: -40px!important
    }
    .feature-wrap2 {
        max-width: 440px!important
    }
    .feature-wrap2.uk-float-right {
        margin-right: 50px!important
    }
    #bg-parallax1 {
        height: 575px!important
    }
    #newark {
        top: -320px!important;
        left: 340px!important
    }
    #louisville {
        top: -257px!important;
        left: 194px!important
    }
    #denver {
        top: -285px!important;
        left: -75px!important
    }
    #dallas {
        top: -150px!important;
        left: -18px!important
    }
    #sanfranscisco {
        top: -290px!important;
        left: -355px!important
    }
    #irvine {
        top: -220px!important;
        left: -355px!important
    }
    .quick-info {
        font-size: 22px!important
    }
    .quick-info i.uk-icon-button {
        margin-top: 12px!important
    }
    .quick-info a {
        top: 32px!important
    }
    .idz-panel-domain img {
        top: 0!important
    }
    .people-align {
        width: 47%!important;
        margin-top: 10px!important
    }
    .app-list {
        margin-top: 35px!important
    }
    .app-list li {
        padding: 15px!important;
        margin: 0 0 22px 17px!important;
        width: 78px!important;
        height: 78px!important
    }
    .app-list li:nth-child(6n+1) {
        display: none!important
    }
    .content-bg2 {
    	background-position: 0 100% !important;
    }
    ul.hosting-apps li img {
        margin: 18px 3px 18px 15px!important
    }
    .thumbs div {
        width: 76px!important;
        height: 76px!important
    }
    .idz-tablet-landscape-hidden {
        display: none
    }
    .idz-iframe-video {
        padding-top: 0!important
    }
    /*slide mediaquery*/
    #slideshow-container .uk-dotnav {
        top: -40px!important;
        right: 4.8%!important
    }
    #slideshow-container,
    .uk-slideshow {
        height: 420px!important
    }
    .slide-content1 hr,
    .slide-content1 p {
        display: none
    }
    .slide-content1 h1 {
        font-size: 32px
    }
    .slide-content1 ul.uk-list li {
        font-size: 16px
    }
    .slide-content1:after {
        width: 480px!important;
        height: 256px!important;
        margin-bottom: -200px!important;
        background-size: 480px 256px!important;
        top: -217px!important;
        left: 109.4%!important
    }
    .sld3-img {
        width: 50%!important;
        top: 160px!important
    }
    .slide-content3 {
        left: 314px!important;
        top: -150px!important
    }
    .slide-content3 a {
        display: none
    }
    .ribbon-slide p,
    .ribbon-slide h3,
    .ribbon-slide h4 {
        display: none
    }
    .ribbon-slide:after {
        height: 98px!important;
        border: 66px solid #f07406!important;
        border-bottom: 30px solid rgba(0, 0, 0, 0)!important;
        left: 28px
    }
    .ribbon-slide h1 {
        top: -135px;
        left: 10px;
        font-size: 46px!important
    }
    .ribbon-slide h2 {
        top: -135px;
        left: 10px;
        font-size: 36px!important
    }
    .slide-content2 {
        bottom: 142px!important
    }
    .slide-content2 h1 {
        font-size: 42px!important
    }
    .slide-content2 a {
        display: none
    }
    .slide-content4 {
        width: 94%!important;
        height: 100px!important;
        padding: 38px 0 0!important;
        top: -185px!important
    }
    .slide-content4 h2 span.sld-spacing2,
    .slide-content4 h2 span.sld-spacing3,
    .slide-content4 hr {
        display: none
    }
    .slide-content2 h4 {
        display: none
    }
    .blog-wrapper .blog-slider {
        height: 281px;
    }
}


/* [ 2. tablet potrait ] */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    #logo {
        width: 172px!important;
        margin: 37px auto 40px!important
    }
    #mainmenu {
	    margin-top: 0px !important;
	}
    #mainmenu .uk-navbar-flip {
        width: 100% !important;
    }
    #mainmenu ul.uk-navbar-nav {
	    float: left !important;
	}
    .uk-navbar {
        border-top: 1px solid #292929
    }
    .uk-navbar-flip {
        float: none;
        margin-left: 3%
    }
    #get-started-wrap a {
        margin-left: 68px!important
    }
    .price-start {
        width: 28%;
        padding: 7px 39px 5px 120px!important
    }
    #domain-search input {
        width: 71.85%!important
    }
    #domain-search2 input {
        width: 62%!important
    }
    #domain-search4 input {
        width: 74.23%!important
    }
    .pricing-grid.three-up {
        margin: 15px -8px!important
    }
    .pricing-grid.three-up > li {
        width: 30.8%!important;
        margin: 15px 8px!important
    }
    .pricing-grid.four-up {
        margin: 15px -8px!important
    }
    .pricing-grid.four-up > li {
        width: 47.7%!important;
        margin: 15px 8px!important
    }
    .pricing-grid.four-up > li.pricing-column2 {
        margin: 15px 8px 45px!important
    }
    .pricing-column .pricing-title {
        padding: 25px 20px 19px!important
    }
    ul.pricing-content {
        padding: 0 20px!important
    }
    .pricing-column .pricing-button h3 {
        display: none
    }
    .pricing-button a.price-btn {
        margin-left: 18px!important
    }
    .notebook-align {
        top: 25px!important;
        right: 42px!important
    }
    .feature-wrap {
        max-width: 92%!important;
        margin-top: -40px!important
    }
    .feature-wrap2 {
        max-width: 330px!important
    }
    #bg-parallax1 {
        height: 775px!important
    }
    #bg-parallax1 .uk-width-medium-1-2 {
        margin-bottom: 36px
    }
    .uk-panel-box .uk-width-medium-1-1 {
        text-align: center;
        margin-left: -3px
    }
    .uk-panel-box .uk-width-medium-1-1 a.uk-button {
        float: none;
        left: -3px;
        margin-bottom: 20px
    }
    .media-panel-logo .uk-panel {
        height: 185px;
        margin-bottom: 30px
    }
    .datacenter-location {
        margin-bottom: -40px!important
    }
    .datacenter-location img {
        width: 90%!important
    }
    #newark {
        top: -300px!important;
        left: 320px!important
    }
    #louisville {
        top: -240px!important;
        left: 184px!important
    }
    #denver {
        top: -265px!important;
        left: -65px!important
    }
    #dallas {
        top: -145px!important;
        left: -18px!important
    }
    #sanfranscisco {
        top: -275px!important;
        left: -337px!important
    }
    #irvine {
        top: -206px!important;
        left: -339px!important
    }
    .idz-panel-domain.alt img {
        top: -18px!important
    }
    .people-align {
        width: 47%!important;
        margin-top: 100px!important
    }
    .idz-margin-bottom-tp {
        margin-bottom: 34px
    }
    .uk-inline-icon > li {
        width: 100%;
        float: left;
        border-right: none!important;
        margin-bottom: 10px
    }
    .error404-wrap .uk-inline-icon > li:nth-child(n+2) {
        padding-left: 25px!important
    }
    #idz-custom-medium1 {
        text-align: center
    }
    #idz-custom-medium1 img {
        margin-bottom: 35px
    }
    .idz-tablet-potrait-hidden {
        display: none
    }
    .feature-wrap.tablet-condition {
        margin-top: -50px!important
    }
    .thumbs div {
        width: 106px!important;
        height: 106px!important
    }
    #idz-single-margin-top {
        margin-top: 58px
    }
    .idz-button-remove-br br {
        display: none
    }
    /*slide mediaquery*/
    #slideshow-container .uk-dotnav {
        top: -40px!important;
        right: 3.6%!important
    }
    #slideshow-container,
    .uk-slideshow {
        height: 400px!important
    }
    .slide-content1 {
        width: 88.1%;
        left: -6%;
        padding: 34px 36px 52px!important
    }
    .slide-content1 ul.uk-list {
        display: none
    }
    .slide-content1:after {
        width: 400px!important;
        height: 213px!important;
        margin-bottom: -158px!important;
        background-size: 400px 213px!important;
        top: -150px!important;
        left: 112.5%!important
    }
    .sld3-img {
        width: 58%!important;
        top: 140px!important;
        left: -20px
    }
    .slide-content3 {
        left: 230px!important;
        top: -160px!important
    }
    .ribbon-slide {
        display: none
    }
    .slide-content4 {
        width: 83%!important;
        height: 100px!important;
        padding: 30px 0 57px!important;
        top: -170px!important
    }
    .blog-wrapper .blog-slider {
        height: 318px;
    }
}


/* [ 3. mobile landscape ] */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #top-header {
        height: 44px
    }
    #top-phone {
        border-right: none!important
    }
    #top-social {
        float: right!important
    }
    #logo {
        width: 162px!important;
        margin: 30px 0 38px!important
    }
    #get-started-wrap a {
        margin-left: 25px!important
    }
    .price-start {
        width: 32.3%;
        padding: 7px 20px 5px 65px!important
    }
    #domain-search input {
        width: 60.98%!important
    }
    #domain-search2 input {
        width: 60%!important
    }
    #domain-search4 input {
        width: 64.3%!important
    }
    .pricing-grid.three-up {
        margin: 15px -8px!important
    }
    .pricing-grid.three-up > li {
        width: 96.8%!important;
        margin: 15px 8px!important
    }
    .pricing-grid.three-up > li.pricing-column2 {
        margin: 15px 8px 45px!important
    }
    .pricing-grid.four-up {
        margin: 15px -8px!important
    }
    .pricing-grid.four-up > li {
        width: 96.8%!important;
        margin: 15px 8px!important
    }
    .pricing-grid.four-up > li.pricing-column2 {
        margin: 15px 8px 45px!important
    }
    .content-bg1 {
        height: 427px!important
    }
    .content-bg2 {
    	background-size: 100% 100% !important;
        height: 680px!important
    }
    .notebook-align {
        top: 5px!important;
        right: 0!important
    }
    .feature-wrap {
        max-width: 96%!important;
        margin-left: 0!important
    }
    .feature-wrap h1 {
        margin-top: -8px!important
    }
    .feature-wrap.tablet-condition {
        max-width: 94%!important;
        margin-top: -12px!important
    }
    #bg-parallax1 {
        height: 1185px!important
    }
    #bg-parallax1 .uk-width-small-1-1 {
        margin-bottom: 36px
    }
    .idz-margin-bottom-ml {
        margin-bottom: 34px
    }
    .idz-margin-top-ml {
        margin-top: 34px
    }
    .idz-padding-bottom-ml {
        padding-bottom: 34px
    }
    .idz-padding-top-ml {
        padding-top: 34px
    }
    #mobile-partner-logo.uk-grid-divider {
        margin-top: -50px!important
    }
    .uk-grid-divider .uk-width-small-1-1 {
        border-bottom: 2px solid #e8e8e8;
        border-left: none!important
    }
    .uk-grid-divider div:last-child {
        border-bottom: none!important
    }
    .copyright-wrap {
        text-align: center
    }
    #payment-list {
        float: left!important;
        margin-top: 11px;
        margin-left: 14%
    }
    .uk-panel-box .uk-width-medium-1-1 {
        text-align: center;
        margin-left: -3px
    }
    .uk-panel-box .uk-width-medium-1-1 a.uk-button {
        float: none;
        left: -3px;
        margin-bottom: 20px
    }
    .media-panel-logo .uk-panel {
        height: 200px;
        margin-bottom: 30px
    }
    .datacenter-location {
        margin-bottom: -40px!important
    }
    .datacenter-location img {
        width: 100%!important
    }
    #newark {
        top: -255px!important;
        left: 270px!important
    }
    #louisville {
        top: -205px!important;
        left: 160px!important
    }
    #denver {
        top: -230px!important;
        left: -55px!important
    }
    #dallas {
        top: -130px!important;
        left: -18px!important
    }
    #sanfranscisco {
        top: -225px!important;
        left: -280px!important
    }
    #irvine {
        top: -175px!important;
        left: -288px!important
    }
    .idz-panel-domain img {
        top: -38px!important
    }
    .idz-panel-domain.alt img {
        top: -56px!important
    }
    .feature-wrap2 {
        max-width: 91%!important
    }
    .app-list {
        margin-top: 5px!important
    }
    .app-list li {
        padding: 15px!important;
        margin: 0 0 22px 17px!important;
        width: 60px!important;
        height: 60px!important
    }
    .app-list li:nth-child(6n+1) {
        display: inline-block!important
    }
    .uk-inline-icon > li {
        width: 100%;
        float: left;
        border-right: none!important;
        margin-bottom: 10px
    }
    .error404-wrap .uk-inline-icon > li:nth-child(n+2) {
        padding-left: 25px!important
    }
    #idz-custom-medium1 {
        text-align: center
    }
    #idz-custom-medium1 img {
        margin-bottom: 35px
    }
    .thumbs div {
        width: 90px!important;
        height: 90px!important
    }
    #idz-single-margin-top {
        margin-top: 58px
    }
    #footer-social ul {
        margin-bottom: 38px!important
    }
    .certificate-img {
        float: left!important;
        margin: 20px 0 0 0;
    }
    .text-width70,
    .text-width80 {
        width: 100%!important
    }
    .idz-button-remove-br br {
        display: none
    }
    .uk-tab.uk-tab-left {
        padding: 0!important;
        margin-bottom: 26px!important;
        border-right: none!important;
        border-bottom: 2px solid #e8e8e8!important
    }
    .uk-tab.uk-tab-left > li > a {
        padding: 16px 32px 10px!important;
        border-top-left-radius: 4px!important;
        border-top-right-radius: 4px!important
    }
    .uk-tab.uk-tab-left > li.uk-active > a {
        border-color: #e8e8e8!important;
        border-bottom-color: transparent!important
    }
    .uk-tab.uk-tab-right {
        padding: 0!important;
        margin-top: 13px!important;
        margin-bottom: 38px!important;
        border-left: none!important;
        border-top: 2px solid #e8e8e8!important
    }
    .uk-tab.uk-tab-right > li > a {
        padding: 10px 32px 16px!important;
        border-bottom-left-radius: 4px!important;
        border-bottom-right-radius: 4px!important
    }
    .uk-tab.uk-tab-right > li.uk-active > a {
        border-color: #e8e8e8!important;
        border-top-color: transparent!important;
        margin-top: -2px!important
    }
    .uk-tab.uk-tab-right > li {
        text-align: left!important
    }
    /*slide mediaquery*/
    #slideshow-container .uk-dotnav {
        top: -40px!important;
        right: 4.8%!important
    }
    #slideshow-container,
    .uk-slideshow {
        height: 280px!important
    }
    .uk-slideshow .uk-width-1-2,
    .uk-slideshow .uk-width-8-10,
    .uk-slideshow .uk-width-7-10,
    .uk-slideshow .uk-width-4-10 {
        width: 100%!important
    }
    .slide-content1 {
        background: transparent!important;
        bottom: 202px!important;
        left: 18px!important
    }
    .slide-content1:after {
        background: none!important
    }
    .slide-content1 ul.uk-list {
        display: none
    }
    .sld3-img,
    .slide-content3 p {
        display: none
    }
    .slide-content3 {
        left: 8%!important;
        top: -220px!important;
        text-align: center
    }
    .slide-content3 h1 {
        font-size: 32px!important
    }
    .slide-content2 .icon-wrap {
        display: none
    }
    .slide-content2 h1 {
        font-size: 32px!important
    }
    .slide-content2 {
        bottom: 260px!important
    }
    .slide-content4 {
        width: 70%!important;
        height: 98px!important;
        top: -250px!important;
        left: 17.5%
    }
    .blog-wrapper .blog-slider {
        height: 218px;
    }
}


/* [ 4. mobile potrait ] */

@media only screen and (max-width: 479px) {
    header {
        height: 162px
    }
    #top-header {
        height: 44px
    }
    #top-phone {
        border-right: none!important
    }
    #top-social {
        display: none!important
    }
    #logo {
        width: 162px!important;
        margin: 30px 0 38px!important
    }
    #domain-search {
        display: none
    }
    #domain-search2 input {
        width: 99.8%!important
    }
    #domain-search2 select {
        width: 100px;
        margin-left: 0!important;
        margin-top: -4px!important
    }
    #domain-search2 button {
        width: 141px!important;
        margin-top: -4px!important
    }
    #domain-search4 input, #domain-search5 input {
        width: 99.8%!important;
        border-right: 1px solid #dedede!important;
        border-top-right-radius: 5px!important;
        border-bottom-left-radius: 0!important
    }
    #domain-search4 select, #domain-search5 select {
        width: 132px;
        margin-left: 0!important;
        margin-top: -1px!important;
        border-bottom-left-radius: 5px!important
    }
    #domain-search4 button, #domain-search5 button {
        width: 138px!important;
        margin-top: -1px!important;
        border-top-right-radius: 0!important
    }
    th.idz-domain-register, td.idz-domain-register {
	   display: none !important;
	}
	.idz-domain-pricing tr td.idz-domain-tld {
	    padding-left: 20px !important;
	}
	.idz-domain-pricing tr td.idz-domain-tld {
	    font-size: 18px !important;
	}
	.idz-domain-pricing tr td.idz-domain-tld i {
	    font-size: 14px !important;
	}
    #get-started-wrap {
        height: 170px!important
    }
    #get-started-wrap a {
        margin-left: 27px!important
    }
    .price-start {
        width: 72.2%;
        padding: 7px 0 5px 75px!important
    }
    .pricing-grid.three-up {
        margin: 15px -8px!important
    }
    .pricing-grid.three-up > li {
        width: 93.7%!important;
        margin: 15px 8px!important
    }
    .pricing-grid.three-up > li.pricing-column2 {
        margin: 15px 8px 45px!important
    }
    .pricing-grid.four-up {
        margin: 15px -8px!important
    }
    .pricing-grid.four-up > li {
        width: 93.8%!important;
        margin: 15px 8px!important
    }
    .pricing-grid.four-up > li.pricing-column2 {
        margin: 15px 8px 45px!important
    }
    .pricing-column .pricing-button h3 {
        display: none
    }
    .pricing-grid.three-up > li.pricing-column .pricing-button a.price-btn {
        margin-left: 36px!important
    }
    .pricing-grid.four-up > li.pricing-column .pricing-button a.price-btn {
        margin-left: 12px!important
    }
    .content-bg1 {
        height: 270px!important
    }
    .content-bg2 {
    	background-image: none !important;
        height: 1130px!important
    }    
    .notebook-align {
        top: -10px!important;
        right: 0!important
    }
    .feature-wrap {
        max-width: 96%!important;
        margin-left: 0!important
    }
    .feature-wrap h1 {
        width: 96%;
        margin-top: -16px!important
    }
    #bg-parallax1 {
        height: 1500px!important
    }
    #bg-parallax1 .uk-width-small-1-1 {
        margin-bottom: 36px
    }
    #bg-parallax2 {
        height: 810px!important
    }
    .feature-wrap.tablet-condition {
        max-width: 92%!important;
        margin-top: -12px!important
    }
    .idz-margin-bottom-ml {
        margin-bottom: 30px
    }
    .idz-margin-top-ml {
        margin-top: 30px
    }
    .idz-padding-bottom-ml {
        padding-bottom: 30px
    }
    .idz-padding-top-ml {
        padding-top: 30px
    }
    #mobile-partner-logo.uk-grid-divider {
        margin-top: -50px!important
    }
    .uk-grid-divider .uk-width-small-1-1 {
        border-bottom: 2px solid #e8e8e8;
        border-left: none!important
    }
    .uk-grid-divider div:last-child {
        border-bottom: none!important
    }
    .copyright-wrap {
        text-align: center
    }
    #payment-list {
        display: none
    }
    .uk-panel-box .uk-width-small-1-1 {
        text-align: center;
        margin-left: -3px
    }
    .uk-panel-box .uk-width-small-1-1 a.uk-button {
        float: none;
        left: -4px;
        margin-bottom: 18px
    }
    .uk-panel-box {
        text-align: center
    }
    .uk-width-1-1 .uk-panel-box .icon-wrap.left {
        width: 100%;
        margin: 0 auto 15px
    }
    .media-panel-logo .uk-panel {
        height: 87px;
        margin-bottom: 27px
    }
    .datacenter-location {
        margin-bottom: -10px!important
    }
    .datacenter-location img {
        width: 100%!important
    }
    #newark {
        display: none!important
    }
    #louisville {
        display: none!important
    }
    #denver {
        display: none!important
    }
    #dallas {
        display: none!important
    }
    #sanfranscisco {
        display: none!important
    }
    #irvine {
        display: none!important
    }
    .idz-panel-domain {
        height: 80px!important
    }
    .idz-panel-domain.alt img {
        top: -62px!important
    }
    .feature-wrap2 {
        max-width: 85%!important
    }
    .app-list {
        margin-top: 5px!important;
        margin-left: -30px!important
    }
    .app-list li {
        padding: 15px!important;
        margin: 0 0 22px 17px!important;
        width: 30.2%!important;
        height: 78px!important
    }
    .app-list li:nth-child(6n+1) {
        display: inline-block!important
    }
    ul.hosting-apps li {
        width: 100%!important
    }
    ul.hosting-apps li:nth-child(n+4) {
        border-bottom: 1px solid #ddd!important
    }
    .uk-inline-icon > li {
        width: 100%;
        float: left;
        border-right: none!important;
        margin-bottom: 10px
    }
    #idz-custom-medium1 {
        text-align: center
    }
    #idz-custom-medium1 img {
        margin-bottom: 35px
    }
    #dedicated-pricing tr td.dct-traffic,
    #dedicated-pricing tr td.dct-price,
    #dedicated-pricing tr th.dct-traffic-head,
    #dedicated-pricing tr th.dct-price-head {
        display: none
    }
    .blog-wrapper {
        padding: 21px 25px 25px!important
    }
    ul.post-info li {
        margin: 5px 25px 3px 0!important
    }
    .blog-wrapper a.uk-button {
        bottom: 0!important
    }
    #idz-single-margin-top {
        margin-top: 58px
    }
    .text-width70,
    .text-width80 {
        width: 100%!important
    }
    .serverpic-hidden,
    #facebook-iframe {
        display: none
    }
    .idz-100width-mp {
        width: 100%!important;
        margin-bottom: 28px!important
    }
    .feature-ic-section {
        width: 90%
    }
    ul.uk-comment-list li ul li {
        margin-left: -30px!important
    }
    .avatar,
    .avatar img {
        width: 40px!important;
        height: 40px!important
    }
    .avatar {
        position: relative;
        left: -45px;
        top: 7px
    }
    .comment-text {
        margin: -34px 0 20px!important
    }
    .comment-text a.uk-button {
        margin-top: -55px!important
    }
    form#comment-form input {
        width: 60%!important
    }
    form#comment-form label {
        width: 30%!important
    }
    form#comment-form textarea {
        width: 100%!important
    }
    form#contact-form input {
        width: 100%!important;
        margin-bottom: 0!important
    }
    form#contact-form label {
        width: 100%!important
    }
    form#contact-form textarea {
        width: 100%!important;
        margin-bottom: -15px!important
    }
    .testi-image {
        margin: 3px 15px 45px 0!important
    }
    .testi-container:after {
        left: 30px!important
    }
    ul.pf-container li {
        width: 100%!important
    }
    .certificate-img {
        float: left!important;
        margin: 0;
    }
    .error404-wrap ul.uk-inline-icon,
    .error404-wrap h4.uk-text-contrast,
    .error404-wrap hr {
        display: none
    }
    .error404-wrap h1 {
        font-size: 34px!important
    }
    .uk-tab.uk-tab-left {
        padding: 0!important;
        margin-bottom: 26px!important;
        border-right: none!important;
        border-bottom: 2px solid #e8e8e8!important
    }
    .uk-tab.uk-tab-left > li > a {
        padding: 16px 32px 10px!important;
        border-top-left-radius: 4px!important;
        border-top-right-radius: 4px!important
    }
    .uk-tab.uk-tab-left > li.uk-active > a {
        border-color: #e8e8e8!important;
        border-bottom-color: transparent!important
    }
    .uk-tab.uk-tab-right {
        padding: 0!important;
        margin-top: 13px!important;
        margin-bottom: 38px!important;
        border-left: none!important;
        border-top: 2px solid #e8e8e8!important
    }
    .uk-tab.uk-tab-right > li > a {
        padding: 10px 32px 16px!important;
        border-bottom-left-radius: 4px!important;
        border-bottom-right-radius: 4px!important
    }
    .uk-tab.uk-tab-right > li.uk-active > a {
        border-color: #e8e8e8!important;
        border-top-color: transparent!important;
        margin-top: -2px!important
    }
    .uk-tab.uk-tab-right > li {
        text-align: left!important
    }
    /*slide mediaquery*/
    #slideshow-container .uk-dotnav {
        top: -40px!important;
        right: 8%!important
    }
    #slideshow-container,
    .uk-slideshow {
        height: 280px!important
    }
    .uk-slideshow .uk-width-1-2,
    .uk-slideshow .uk-width-8-10,
    .uk-slideshow .uk-width-7-10,
    .uk-slideshow .uk-width-4-10 {
        width: 100%!important
    }
    .slide-content1 {
        background: transparent!important;
        bottom: 160px!important;
        left: 0!important;
        text-align: center
    }
    .slide-content1:after {
        background: none!important
    }
    .slide-content1 ul.uk-list {
        display: none
    }
    .sld3-img,
    .slide-content3 p {
        display: none
    }
    .slide-content3 {
        left: 0!important;
        top: -160px!important;
        text-align: center
    }
    .slide-content3 h1 {
        font-size: 32px!important
    }
    .slide-content2 .icon-wrap {
        display: none
    }
    .slide-content2 h1 {
        font-size: 32px!important
    }
    .slide-content2 {
        bottom: 235px!important
    }
    .slide-content4 {
        width: 70%!important;
        height: auto!important;
        padding: 0!important;
        top: -188px!important;
        left: 15.5%!important;
        border: none!important
    }
    .blog-wrapper .blog-slider {
        height: 108px;
        background: #ccc;
    }
    .post-type {
        margin-top: -143px !important;
    }
    .blog-link {
        overflow: hidden;
        text-overflow: hidden;
    }
    .selfhost-video {
        width: 216px !important;
    }
}
