/* ------------------------------------------------------------------
 * Indonez      : Satria - HTML Template
 * File         : nez-style.css
 * Version      : 1.0
 * Author       : indonez - team
 * Author URI   : http://indonez.com
 *
 * Indonez Copyright 2015 All Rights Reserved.
 * ------------------------------------------------------------------ */ 

/* ------------------------------------------------------------------
   
    [Table of contents]
    1. iframe
    2. button
    3. table
    4. panel
    5. progress bar
    6. megamenu
    7. list
    8. position adjustment
    9. icon box
    
------------------------------------------------------------------ */

/* [ 1. iframe ] */
.idz-iframe-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 10px;
    height: 0
}

.idz-iframe-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

/* [ 2. button ] */
[class*="idz-button"],[class*="idz-button"]:hover {
    color: #fff;
    border-radius: 5px;
    margin-bottom: 3px
}

.idz-button-green {
    background: rgba(155,194,60,1)
}

.idz-button-green:hover {
    background: rgba(155,194,60,0.8)
}

.idz-button-blue {
    background: rgba(0,144,207,1)
}

.idz-button-blue:hover {
    background: rgba(0,144,207,0.8)
}

.idz-button-red {
    background: rgba(231,75,59,1)
}

.idz-button-red:hover {
    background: rgba(231,75,59,0.8)
}

.idz-button-orange {
    background: rgba(240,116,6,1)
}

.idz-button-orange:hover {
    background: rgba(240,116,6,0.8)
}

.idz-button-grey {
    background: rgba(66,69,74,1)
}

.idz-button-grey:hover {
    background: rgba(66,69,74,0.8)
}

.idz-button-white {
    background: rgba(255,255,255,1);
    color: #444
}

.idz-button-white:hover {
    background: rgba(255,255,255,0.8);
    color: #444
}

.idz-button-outline {
    background: transparent;
    color: #0090cf;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,144,207,1);
    -moz-box-shadow: inset 0 0 0 1px rgba(0,144,207,1);
    box-shadow: inset 0 0 0 1px rgba(0,144,207,1);
    border-radius: 5px
}

.idz-button-outline:hover {
    background: transparent;
    color: #0090cf
}

.uk-text-contrast .uk-button.idz-button-outline {
    background-color: transparent;
    color: #fff;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,1);
    -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,1);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.idz-button-transparent,.idz-button-transparent:hover {
    background: transparent;
    color: #0090cf
}

.idz-panel.orange .idz-button-white {
    color: #f07406
}

.idz-panel.red .idz-button-white {
    color: #e74b3b
}

.idz-panel.green .idz-button-white {
    color: #9bc23c
}

.idz-panel.blue .idz-button-white {
    color: #0090cf
}

/* [ 3. table ] */
[class*="idz-table"] thead {
    color: #fff
}

.idz-table-green thead {
    background: #9bc23c
}

.idz-table-blue thead {
    background: #0090cf
}

.idz-table-orange thead {
    background: #f07406
}

.idz-table-red thead {
    background: #e74b3b
}

.idz-table-grey thead {
    background: #42454a
}

.idz-table-title {
    margin-bottom: -15px;
    padding: 10px 22px;
    background: #0090cf;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.idz-table-title i,.idz-table-title p {
    float: left
}

.idz-table-title i {
    width: 24px;
    height: 24px;
    margin: 8px 10px 0 0;
    background: #fff;
    color: #0090cf;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 24px
}

.idz-table-title p {
    position: relative;
    top: 6px;
    font-size: 18px
}

.idz-table-title .idz-button-white {
    margin-top: 5px;
    color: #0090cf;
    float: right
}

.idz-table-title .idz-button-white:hover {
    color: #0090cf
}

.idz-table-account {
    border-bottom: 1px solid #d3d3d3
}

.idz-table-account thead th,.idz-table-account td {
    height: 36px;
    color: #939292;
    vertical-align: middle;
    text-align: center
}

.idz-table-account td i {
    font-size: 13px;
    color: #0090cf;
    margin-right: 6px
}

.idz-table-account td .uk-button {
    margin-top: 4px
}

.idz-table-footer {
    padding: 10px 22px
}

.idz-table-footer p {
    position: relative;
    top: -10px;
    font-size: 18px;
    float: right
}

/* [ 4. panel ] */
.idz-panel {
    padding: 25px 32px !important;
    -webkit-box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1)
}

.idz-panel.small-padding {
    padding: 25px 21px 18px !important;
}

.idz-panel.orange {
    background: #f07406
}

.idz-panel.red {
    background: #e74b3b
}

.idz-panel.green {
    background: #9bc23c
}

.idz-panel.blue {
    background: #0090cf
}

.idz-panel.grey {
    background: #444
}

.idz-panel.white {
    background: #fff
}

/* [ 5. progress bar ] */
.idz-progress-bar {
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    background-color: #f4f4f4;
    border-radius: 5px
}

.idz-progress-bar div {
    width: 100%;
    height: 100%;
    width: 0;
    background: #42454a;
    border-radius: 5px
}

.idz-progress-bar.green div {
    background: #9bc23c
}

.idz-progress-bar.blue div {
    background: #0090cf
}

.idz-progress-bar.orange div {
    background: #f07406
}

.idz-progress-bar.red div {
    background: #e74b3b
}

.idz-progress-bar div.idz-progress-meter {
    width: 42px;
    height: 28px;
    margin: 10px 10px 0 0;
    padding-left: 4px;
    color: #8c8c8c;
    text-align: center;
    line-height: 27px;
    background-color: #fff!important;
    border-radius: 3px;
    float: right
}

.idz-progress-title {
    width: auto!important;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    top: -37px;
    left: 20px;
    z-index: 100
}

/* [ 6. megamenu ] */
.idz-megamenu {
    background:#f5f5f5 url(../images/sample/megamenu_bg.png) no-repeat bottom right;
    border-bottom: 2px solid #0090cf !important;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.idz-megamenu > .uk-grid {
    padding: 44px 8px 12px 8px;
}

.idz-megamenu .icon-wrap {
    width: 58px;
    height: 45px;
    margin-bottom: 28px;
}

.idz-megamenu .icon-wrap.circle > [class*="uk-icon-"] {
    background: #aeaeae;
    border: none;
    color: #fff;
    width: 45px;
    height: 45px;
    font-size: 22px;  
    line-height: 46px;
    margin-top: 0px;
}

.idz-megamenu ul li ul li a {
    color: #444;
    text-decoration: none;
    border-bottom: none !important;
}

.idz-megamenu ul li ul li a:hover,
.idz-megamenu ul li ul li a:hover i,
.idz-megamenu ul li ul li a:hover h5 {
    color: #0090cf;
    text-decoration: none;
}

.idz-megamenu [class*="idz-list"] > li:hover:before {
    color: #0090cf;   
}

.idz-megamenu ul li ul.uk-list li i {
    color: #9B9DA1;
    margin: 5px 10px 0 0;
    float: left;
}

.idz-list-custom > li {
    padding-left: 0px !important;
}

.idz-megamenu ul li ul li a:hover .icon-wrap.circle > [class*="uk-icon-"] {
    background: #0090cf;
}

.idz-megamenu ul li ul li:last-child a {
    width: 100%;
    padding-top: 0px !important;
    padding-left: 0px !important;
    border-bottom: none !important;
    float: left;
}

.idz-megamenu ul li ul li h5 {
    margin-top: 0px;
    margin-bottom: -16px;
}

/* FF fix */
_::-moz-range-track, body:last-child 
.idz-megamenu ul li ul li h5 {
    width: 74%;
}

_::-moz-range-track, body:last-child 
.idz-megamenu ul li ul li p {
    width: 74%;
    float: left;
    margin-top: 16px;
}

.idz-megamenu .icon-wrap.left {
    border-right: 1px solid #ddd;
    margin-right: 14px;
}

/* [ 7. list ] */
[class*="idz-list"] > li {
    padding-left: 20px
}

[class*="idz-list"] > li:nth-child(n+2) {
    margin-top: 3px;
    padding-top: 3px
}

[class*="idz-list"] > li:before {
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    margin-left: -21px;
    color: #9B9DA1
}

.idz-list-disc > li:before {
    font-size: 8px;
    content: "\f111";
    margin-left: -19px
}

.idz-list-square > li:before {
    font-size: 8px;
    content: "\f0c8";
    margin-left: -19px
}

.idz-list-check > li:before {
    content: "\f058"
}

.idz-list-arrow > li:before {
    content: "\f138"
}

.idz-list-plus > li:before {
    content: "\f055"
}

.idz-list-star > li:before {
    content: "\f005";
    font-size: 13px
}

.idz-list-cog > li:before {
    content: "\f013";
    font-size: 14px
}

.idz-list-flag > li:before {
    content: "\f024";
    font-size: 13px
}

[class*="idz-list"].big > li:before {
    font-family: FontAwesome;
    font-size: 15px;
    content: "\f058";
    position: absolute;
    margin-left: -20px;
    color: #9bc23c
}

[class*="idz-list"].big > li:before {
    font-size: 28px;
    margin-left: -35px
}

[class*="idz-list"].big > li {
    line-height: 32px;
    padding-left: 35px
}

[class*="idz-list"].green > li:before {
    color: #9bc23c
}

[class*="idz-list"].blue > li:before {
    color: #0090cf
}

[class*="idz-list"].orange > li:before {
    color: #f07406
}

[class*="idz-list"].red > li:before {
    color: #e74b3b
}

/* [ 8. position adjustment ] */
.idz-top-adjustment5 {
    position: relative;
    top: -5px
}

.idz-top-adjustment10 {
    position: relative;
    top: -10px
}

.idz-top-adjustment20 {
    position: relative;
    top: -20px
}

.idz-top-adjustment30 {
    position: relative;
    top: -30px
}

.idz-bottom-adjustment5 {
    position: relative;
    bottom: -5px
}

.idz-bottom-adjustment10 {
    position: relative;
    bottom: -10px
}

.idz-bottom-adjustment20 {
    position: relative;
    bottom: -20px
}

.idz-bottom-adjustment30 {
    position: relative;
    bottom: -30px
}

/* [ 9. icon box ] */
.idz-icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: #444;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1)
}

.idz-icon-box i {
    font-size: 48px;
    line-height: 80px;
    color: #fff
}

.idz-icon-box.green {
    background: #9bc23c
}

.idz-icon-box.red {
    background: #e74b3b
}

.idz-icon-box.orange {
    background: #f07406
}

.idz-icon-box.blue {
    background: #0090cf
}